//GLOBAL CSS ONLY
@import "styles/variables";

* {
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: black;
}
body {
    margin: 0;
}
header {
    $mobile-fs: 2.5rem; //mobile font size
    $menu-right: 30px; //R margin for button & items
    font-size: $mobile-fs;
    background-color: $np-green;
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    #headerTitle {
        margin-left: 10vw;
        padding-bottom: 10px;
    }
    #menu {
        background-color: $np-green;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        position: absolute;
        top: calc($mobile-fs*2.8125); //should be 2.8125 * header font size
        width: 100%;
        font-size: 2rem;
        padding-bottom: 10px;
        a {
            display: block;
            margin-right: $menu-right;
        }
    }
    #menuButton {
        margin-right: $menu-right;
    }
}
footer {
    position: relative;
    background-color: $np-green;
    width: 100%;
    font-size: 1.5rem;
    #credit {
        font-size: .75rem;
        width:fit-content;
        margin: auto;
        clear: both;
        padding-bottom: 5px;
    }
    #footerBanner {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding-bottom: 10px;
        span {
            font-size: 2rem;
        }
    }
    
}
.inlineBlock {
    display: inline-block;
}
.serif {
    font-family: $np-serif;
    font-weight: 300;
}
.script {
    font-family: $np-script;
}