@import "styles/variables";

.about {
    font-family: $np-serif;
    h1 {
        font-family: $np-script;
        font-size: 2rem;
        margin-block: 2.5rem .2rem;
        text-align: center;
    }
    .aboutContent {
        display: block;
        width: 85vw;
        margin: auto;
       
    }
    
}
.gallery {
    background-color: white;
}
